*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  :root {
      --text-color: #82A284;
      --logo-color: #E4AEC5;
      --main-color: #FFC4DD; 
    
  }

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 150px;
    transition: all .50s ease;
}

.container{
    margin-top: 200px;
}

.main {
    display: flex;
    align-items: center;
    margin: 50px;
    color: var(--text-color);
    font-size: 35px;
    
}

.main span {
    color: var(--logo-color)
}

.navlist {
    display: flex;
    
}

.navlist a {
    margin: 0 30px;
    transition: all .50s ease;
    font-weight: 600;
    color: black;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navlist a:hover{
    color: var(--text-color);
    transform: scale(1.1);
    
}

section {
    padding: 150px 14% 60px;
}

/* CONTACT */

.contact-content a {
    text-decoration: none;
    color: black;
}


.main-contact {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.contact-content p {
    line-height: 35px;
 
}

.contact-content1 p {
    top: 10px;
    line-height: 20px;
 
}

.logobtm {
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.logobtm i {
    font-size: 30px;
    margin-top: 40px;
}

.logobtm .fcb i {
    color:#1877F2;
}

.logobtm .ins i {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}
.logobtm .twt i {
    color: #1DA1F2;

}


hr {
    border: none;
    border-top: 2px solid;
    margin: 10px auto;
    color: #DDDDDD;
    width: 100%;
    align-items: center;
}

/* BOOKING SECTION */
.container h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 550;
}

.box1 {
    background-image: url('image_ktmets/trn.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    padding: 150px;
    margin: 50px;
    
}

.main-content {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 2rem;
}

.b1 {
    padding: 10px;
}

.box2 {
    background-image: url('image_login/ktm3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    padding: 150px;
    margin: 50px;
}

.container2 {
    padding-top: 70px;
}

select, input[type="number"], input[type="submit"] {
    width: 70%; 
    padding: 10px;
    margin: 10px auto; 
    display: block; 
    box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
    background-color: var(--text-color);
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
}
.flash-message{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}


.flash-message {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.error {
    background-color: #ffcccc;
    color: #cc0000;
}

.success {
    background-color: #82a284;
    color: white;
}