<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.1.4/swiper-bundle.min.css">
    
    <title>About</title>
</head>
<body>
    <nav>
        <div class="logo">
            
          <p>
            <a href="{{url_for('views.home')}}">
                <span class="railway">Railway</span><span class="go">Go</span>
            </a>
        </p>

        </div>
    
      </nav>'
      

      <div class="slide-container swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card">
                    <div class="overlay"></div>
                    <div class="image-content">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='css/images/people.jpg')}}" alt="people">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">RailwayGo</h2>
                        <p class="description">Elevate your travel experience with our railway services. With our modern and efficient KTM and ETS trains, we ensure a seamless journey that brings joy to you and your loved ones. Let us be your companions in creating unforgettable memories on your travels.</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card">
                    <div class="overlay"></div>
                    <div class="image-content">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='css/images/food.png')}}" alt="food">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">RailwayFood</h2>
                        <p class="description">Elevate your travel experience with our railway services. With our modern and efficient KTM and ETS trains, we ensure a seamless journey that brings joy to you and your loved ones. Let us be your companions in creating unforgettable memories on your travels.</p>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card">
                    <div class="overlay"></div>
                    <div class="image-content">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='css/images/ets5.jpg')}}" alt="ets">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">ETS</h2>
                        <p class="description">Elevate your travel experience with our railway services. With our modern and efficient KTM and ETS trains, we ensure a seamless journey that brings joy to you and your loved ones. Let us be your companions in creating unforgettable memories on your travels.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="overlay"></div>
                    <div class="image-content">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='css/images/ktm3.jpg')}}" alt="ktm">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">KTM</h2>
                        <p class="description">Elevate your travel experience with our railway services. With our modern and efficient KTM and ETS trains, we ensure a seamless journey that brings joy to you and your loved ones. Let us be your companions in creating unforgettable memories on your travels.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="overlay"></div>
                    <div class="image-content">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='css/images/service.jpg')}}" alt="service">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">Service</h2>
                        <p class="description">Elevate your travel experience with our railway services. With our modern and efficient KTM and ETS trains, we ensure a seamless journey that brings joy to you and your loved ones. Let us be your companions in creating unforgettable memories on your travels.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card">
                    <div class="overlay"></div>
                    <div class="image-content">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='css/images/food.png')}}" alt="food">
                        </div>
                    </div>
                    <div class="card-content">
                        <h2 class="name">RailwayFood</h2>
                        <p class="description">Elevate your travel experience with our railway services. With our modern and efficient KTM and ETS trains, we ensure a seamless journey that brings joy to you and your loved ones. Let us be your companions in creating unforgettable memories on your travels.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11.1.4/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='css/script/swiper.js')}}"></script>
</body>
</html>