*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #151b16;
    font-family: Rubik, sans-serif;
}

.logo img{
    width: 60px;
    margin-left: -15px;
}

.bar{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 60px;
    padding: 0 7vw;
    background-color: rgb(248,232,217 );
    border-bottom: 2px solid rgb(252, 196, 124);
    box-shadow: 0 2px 20px rgb(253, 124, 124);
    border-width: 4px;

}
.header ul{
    display: flex;
    align-items: center;
}

.header ul li:hover{
    color:rgb(253, 57, 8)
    
}

.nav ul li{
    padding: 0 90px;
    font-size: 15px;
    font-weight: bold;
    
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 196, 221),rgb(214, 139, 183));
}
.tickets{
    width: 900px;
    height: fit-content;
    border: 0.4mm solid rgba(0,0,0,0.08);
    border-radius: 3mm;
    box-sizing: border-box;
    padding: 5px;
    font-family: Rubik;
    max-height: 96vh;
    overflow: auto;
    background: white;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
   
}
.ticket-selector{
    background: rgb(250, 197, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column ;
    box-sizing: border-box;
    padding: 20px;
}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.title{
    font-size: 18px;
    font-weight: 600;
}
.seats{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    position: relative;
}
.status{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.seats::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 869px;
    height: 10px;
    background: #e63939a6;
    border-radius: 0 0 3mm 3mm;
    border-top: 0.3mm solid rgb(180, 180, 180);
}
.item{
    font-size: 12px;
    position: relative;
}
.item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0,-50%);
    width: 10px;
    height: 10px;
    background: rgb(255,255,255);
    outline: 0.2mm solid rgb(120, 120, 120);
    border-radius: 0.3mm;
}

.all-seats{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:50px;
    margin: 100px;
    margin-top: 20px;
    position: relative;
   

}
.seat:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.seat{
    width: 125px;
    height: 50px;
    background: white;
    border-radius: 2mm;
    outline: 0.3mm solid rgb(22, 20, 20);
    cursor: pointer;
    position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 6px 0 ;
    border-width: 2px;
    border-color: rgb(251, 249, 251);
    border-style: solid;
    
    
    
}

.all-seats input:checked + label{
    background: rgb(28, 185, 120);
    outline: none;
}
.seat.booked{
    background:  #ff91a4;
    outline: none;
}
input{
    display:none ;
}
.timings {
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 10px;
}
.dates{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dates-item{
    width: 50px;
    height: 40px;
    background: rgb(233,233, 233);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 2mm;
    cursor: pointer;
}
.day{
    font-size: 12px;
}
.times{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
}
.time{
    font-size: 14px;
    width: fit-content;
    padding: 7px 14px;
    background: rgb(233, 233, 233);
    border-radius: 2mm;
    cursor: pointer;
}
.timings input:checked + label{
    background: rgb(28, 185, 120);
    color: white;
}
.price{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}
.total span{
    font-size: 11px;
    font-weight: 400;
}
.price button{
    background: rgb(60, 60, 60);
    color: white;
    font-family: poppins;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 2mm;
    outline: none;
    border: none;
    cursor: pointer;
}

.selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.select-group {
    display: flex;
    align-items: left;
    margin: 10px;
}

.select-group label {
    margin-right: 10px;
}

.select-group select {
    padding: 5px;
}
