<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ticket</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_ktmets.css')}}">
</head>
<body>

<header>
    <a href="#home" class="main">Railway<span>Go</span></a>

    <ul class="navlist">
        <li><a href="#home">Home</a></li>
        <li><a href="#contact">Contact</a></li>
     </ul>
</header>

<!-- BOOKING SECTION -->
<section>
    <div class="container">
        <h2>Book Ticket</h2>
        <form action="{{ url_for('auth.book_ticket') }}" method="post">
        <div class="box1">
            <div class="main-content">
                
                    <div class="b1">
                        <label for="origin">Origin:</label>
                        <select id="origin" name="origin" required>
                            {% for origin in origins %}
                                <option value="{{ origin }}">{{ origin }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="b1">
                        <label for="destination">Destination:</label>
                        <select id="destination" name="destination" required>
                            {% for destination in destinations %}
                                <option value="{{ destination }}">{{ destination }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="b1">
                        <label for="date">Date:</label>
                        <select id="date" name="date" required>
                            {% for date in dates %}
                                <option value="{{ date }}">{{ date }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="b1">
                        <label for="time">Time:</label>
                        <select id="time" name="time" required>
                            {% for time in times %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="b1">
                        <a href="#next"><i class='bx bxs-right-arrow'></i></a>
                    </div>
            </div>
        </div>
                    <div class="container2">
                    <div class="box2" id="next">
                        <div class="main-content">

                        <div class="b1">
                        <label for="num_people">Number of People:</label>
                        <input type="number" id="num_people" name="num_people" min="1" max="10" required>
                        </div>

                        <div class="b1">
                        <label for="seat_type">Type of Seat:</label>
                        <select id="seat_type" name="seat_type" required>
                            <option value="Standard">Standard</option>
                            <option value="First Class">First Class</option>
                        </select>
                        </div>
                       
                        <div class="b1">
                        <label for="seat_number">Seat Number:</label>
                        <select id="seat_number" name="seat_number" required>
                            {% for seat in seat_numbers %}
                                <option value="{{ seat['number'] }}" {% if not seat['available'] %} disabled {% endif %}>{{ seat['number'] }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        </div>

                       
                    </div>
                    </div>
                    <br>
                    <input type="submit" value="Book Ticket">
        </form>
    </div>
</section>

<!-- Contact Section -->
<section class="contact" id="contact">
    <hr>
    <div class="main-contact">
        <div class="contact-content1">
            <h4><i class='bx bx-copyright'>Railwayfood Malaysia</i></h4>
            <p>Delivery Hero Malaysia Sdn Bhd</p>
            <p>202304159806 (987654-W)</p>
            <p>12th Floor, Wisma Foo,</p>
            <p>Jalan Raja Chulan,</p>
            <p>50200 Kuala Lumpur,</p>
            <p>Malaysia.</p>
        </div>
        <div class="contact-content">
            <h4>Services</h4>
            <p><a href="#">Press</a></p>
            <p><a href="#">Privacy policy</a></p>
            <p><a href="#">RailwayGo</a></p>
            <p><a href="#">Railwayfood magazine</a></p>
            <p><a href="#">Ramdan</a></p>
        </div>
        <div class="contact-content">
            <h4>Partner</h4>
            <p><a href="#">Partner with us</a></p>
            <p><a href="#">Foodpanda</a></p>
            <p><a href="#">Foodie</a></p>
            <p><a href="#">Shoppee foood</a></p>
            <p><a href="#">Bekal</a></p>
        </div>
        <div class="contact-content">
            <h4>Contact</h4>
            <p><a href="#">Contact us</a></p>
            <p><a href="#">Facebook</a></p>
            <p><a href="#">Instagram</a></p>
            <p><a href="#">Pinterest</a></p>
        </div>
    </div>
    <hr>
    <div class="logobtm">
        <a href="/main" class="main">Railway<span>Food</span></a>
        <div class="logo-btm">
            <a href="#" class="fcb"><i class='bx bxl-facebook-circle'></i></a>
        </div>
        <div class="logo-btm">
            <a href="#" class="ins"><i class='bx bxl-instagram-alt' ></i></a>
        </div>
        <div class="logo-btm">
            <a href="#" class="twt"><i class='bx bxl-twitter' ></i></a>
        </div>
    </div>
</section>



</body>
</html>
