<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RailwayFood</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_food.css')}}">
    
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
    

    <!--font-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
</head>

<body>
  

      <!--header section-->
    <header>
        <a href="#home" class="main">Railway<span>Food</span></a>

        <ul class="navlist">
            <li><a href="#home">Home</a></li>
            <li><a href="/storefood">Menu</a></li>
            <li><a href="#reviews">Our Customer</a></li>
         </ul>

         <ul class="icons">
            <li><a href="#help" ><i class='bx bxs-help-circle' ></i></a></li>
            
         </ul>
    </header>
    

      <!--home section-->
    <section class="home" id="home">
        <div class="hometext">
            <h1>From departure<br>to destinations, <br> We got your <br> craving satisfied!</h1>
        </div>

        <div class="homeimg">
            <image src="{{ url_for ('static', filename='image_food/main.png')}}" width="600" height="auto">
      </div>

      <div class="home1">
        <h2>Arrive hungry,<br>leave happy<br>Pre-order your<br>meals<span> now!</span></h2>
        
        <a href="/storefood" class="button1">Order now</a>
      </div>
    </section>

    <!--help-->
  <section class="help" id="help">
      <h2>How this works?</h2>
    
      <div class="container1">
        <div class="card">
          <div class="imgbox">
           <img class="img_1" src="{{ url_for ('static', filename='image_food/1.png')}}">
          </div>
          <div class="content">
            <h3>1. Order your food</h3>
            <p> We got every food from every region to suit your taste bud, western, asian, and local!</p>
            <h4><a href="/store_food">Order now!</a></h4>
          </div>
        </div>

        <div class="card">
          <div class="imgbox">
           <img class="img_2" src="{{ url_for ('static', filename='image_food/2.png')}}">
          </div>
          <div class="content">
            <h3>2. Pickup or delivery?</h3>
            <p>Pick your preffered method : Self pickup to ensure your food are freshly made or delivery to your seat for more convenience!</p>
            
          </div>
        </div>

        <div class="card">
          <div class="imgbox">
           <img class="img_1" src="{{ url_for ('static', filename='image_food/3.png')}}">
          </div>
          <div class="content">
            <h3>3. Checkout your order</h3>
            <p>Pay online! Online banking, FPX, Debit and credit card!</p>
            
          </div>
        </div>
      </div>
  </section>

  <!--Review section-->
  <section class="review" id="reviews">
    <div class="middle-text">
      <h4>Our customer Review</h4>
      <h2>Clients review about our food </h2>
    </div>

    <div class="review-content">
      <div class="box1">
        <p>Ordered the Wanpaku Sandwich onboard the train, and it surpassed all expectations. Who knew train food could be this delicious? It made my journey even more enjoyable.</p>
        <div class="in-box">
          <div class="bx-img">
            <img src="{{ url_for ('static', filename='image_food/profilepic.png')}}">
          </div>
          <div class="box-text">
            <h4>Adi Faris</h4>
            <h5>Food vlogger</h5>
            <div class="rating">
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star-half' ></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="box1">
        <p>As a frequent traveler, I'm used to limited onboard food options, but I was pleasantly surprised by the variety and quality available. The honey BBQ boneless chicken, shrimp Alfredo, and garlic bread bits were especially delicious.</p>
        <div class="in-box">
          <div class="bx-img">
            <img src="{{ url_for ('static', filename='image_food/profilepic1.png')}}">
          </div>
          <div class="box-text">
            <h4>Nur Malia</h4>
            <h5>Travel influencer</h5>
            <div class="rating">
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
            </div>
          </div>
        </div>
      </div>


      <div class="box1">
        <p>Wow, just had the garlic butter steak and potatoes skillet from this train's onboard shop, and I'm blown away! Seriously, who knew train food could be this good? Each bite was packed with flavor, and it made my journey so much more enjoyable. Definitely coming back for more on my next train ride!</p>
        <div class="in-box">
          <div class="bx-img">
            <img src="{{ url_for ('static', filename='image_food/profilepic3.png')}}">
          </div>
          <div class="box-text">
            <h4>Arissa Qistina</h4>
            <h5>Event planner</h5>
            <div class="rating">
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
              <a href="#"><i class='bx bxs-star'></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--contact-->
 
  <section class="contact">
    <hr>
    <div class="main-contact">
      <div class="contact-content1">
        <h4><i class='bx bx-copyright'>Railwayfood Malaysia</i></h4>
        <p>Delivery Hero Malaysia Sdn Bhd</p>
        <p>202304159806 (987654-W)</p>
        <p>12th Floor, Wisma Foo,</p>
        <p>Jalan Raja Chulan,</p>
        <p>50200 Kuala Lumpur,</p>
        <p>Malaysia.</p>
      </div>
      <div class="contact-content">
        <h4>Services</h4>
        <p><a href="#">Press</a></p>
        <p><a href="#">Privacy policy</a></p>
        <p><a href="#">RailwayGo</a></p>
        <p><a href="#">Railwayfood magazine</a></p>
        <p><a href="#">Ramdan</a></p>
      </div>
      <div class="contact-content">
        <h4>Partner</h4>
        <p><a href="#">Partner with us</a></p>
        <p><a href="#">Foodpanda</a></p>
        <p><a href="#">Foodie</a></p>
        <p><a href="#">Shoppee foood</a></p>
        <p><a href="#">Bekal</a></p>
      </div>
      <div class="contact-content">
        <h4>Contact</h4>
        <p><a href="#">Contact us</a></p>
        <p><a href="#">Facebook</a></p>
        <p><a href="#">Instagram</a></p>
        <p><a href="#">Pinterest</a></p>
      </div>
    </div>
    <hr>
    <div class="logobtm">
      <a href="/main" class="main">Railway<span>Food</span></a>
      <div class="logo-btm">
        <a href="#" class="fcb"><i class='bx bxl-facebook-circle'></i></a>
      </div>
      <div class="logo-btm">
        <a href="#" class="ins"><i class='bx bxl-instagram-alt' ></i></a>
      </div>
      <div class="logo-btm">
        <a href="#" class="twt"><i class='bx bxl-twitter' ></i></a>
      </div>
    </div>
    
      
    </div>
      
  </section>

  <!--scroll top-->
  <a href="#" class="scroll">
    <i class='bx bxs-up-arrow-circle'></i>
  </a>

     <script src="{{url_for('static', filename='script_food.js')}}"></script>
</body>




</html>