<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_hotel.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
    <title>Hotel</title>
</head>
<body>
    <header>
        <a href="#home" class="main">Railway<span>Hotel</span></a>
        <ul class="navlist">
            <li><a href="#home">Home</a></li>
            <li><a href="#reviews">Contact</a></li>
         </ul>
    </header>


    
</body>
















</html>