<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_food.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
    <title>ShopFood</title>
</head>
<body>
    
   <!--header section-->
   <header class="header">
    <a href="/homefood" class="main">Railway<span>Food</span></a>
    <nav class="header--menu">
      <div class="search--box">
        <form action="/search" method="GET">
          <input type="text" name="query" placeholders="Search...">
          <button type="submit"><i class='bx bx-search-alt' ></i></button>
        </form>
      </div>
      <div class="menu--icons">
        <a href="#all"><i class='bx bxs-bowl-rice'></i></a>
        <a href="#contact"><i class='bx bxs-contact'></i></a>
        <div class="cart-icon">
          <a href="/cart"><i class='bx bx-cart'></i></a>
          <span id="cartCount">0</span>
        </div>
      </div>
    </nav>
</header>


    <!--container-->
    <section class="container" id="menu">
      <h3>When are your onboarding time?</h3>
      <h4>Morning? Aftternoon? or night?</h4>
      <div class="box-wrap">
        <i class='bx bx-left-arrow-alt' id="backbton"></i>
        <div class="box">
         <div>
          <span><a href="#breakfast"><image src="{{ url_for ('static', filename='image_food/breakfast1.jpeg')}}"></a></span>
          <span><a href="#lunch"><image src="{{ url_for ('static', filename='image_food/lunch1.jpeg')}}"></a></span>  
          <span><a href="#dinner"><image src="{{ url_for ('static', filename='image_food/dinner1.jpeg')}}"></a></span>
         </div>
         <div>
          <span><a href="#dessert"><image src="{{ url_for ('static', filename='image_food/dessert.jpeg')}}"></a></span>
          <span><a href="#drinks"><image src="{{ url_for ('static', filename='image_food/drinks.jpeg')}}"></a></span> 
            <span><a href="#snacks"><image src="{{ url_for ('static', filename='image_food/snack.jpeg')}}"></a></span>  
         </div>
        </div>
        <i class='bx bx-right-arrow-alt' id="forwardbton"></i>
    </div>
    </section>

     <!--BEST SELLER-->
     <section class="breakfast" id="breakfast">
      <div class="mainText">
        <h2>Best Seller - Breakfast menu</h2>
      </div>
  
      <!--First-->
      <div class="items">
        <div class="row" id="2">
          <img src="{{ url_for ('static', filename='image_food/breakfast1.jpeg')}}">
          <div class="menuText">
            <div class="menuLeft">
              <h3 class="p-name">Egg & slice meat sandwhich</h3>
            </div>
            <div class="menuRight">
              <h4 class="p-price">RM 15</h4>
            </div>
          </div>
          <p> A delightful combination of savory slices of meat layered with fluffy scrambled eggs, sandwiched between two slices of fresh bread for a satisfying meal on-the-go.</p>
            <div class="iconwrap">
                <div class="rate">
                 <a href="#"><i class='bx bxs-star'></i></a>
                 <a href="#"><i class='bx bxs-star'></i></a>
                 <a href="#"><i class='bx bxs-star'></i></a>
                 <a href="#"><i class='bx bxs-star'></i></a>
                 <a href="#"><i class='bx bx-star'></i></a>
                </div>
                <div class="addtocart">
                 <button class="add-toCart">
                  <i class='bx bxs-plus-circle'></i>
                 </button>
                </div>
            </div>
        </div>
      
        <!--second-->
      
        <div class="row" id="3">
          <img src="{{ url_for ('static', filename='image_food/breakfast4.jpeg')}}">
          <div class="menuText">
            <div class="menuLeft">
              <h3 class="p-name">Ice cream toast Berries</h3>
              
            </div>
            <div class="menuRight">
              <h4 class="p-price">RM 11</h4>
            </div>
          </div>
          <p>Indulge in a delightful treat featuring creamy ice cream nestled on crispy toast, topped with a burst of freshness from assorted berries, creating a perfect balance of flavors and textures.</p>
          <div class="iconwrap">
            <div class="rate">
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star-half' ></i></a>
            </div>
            <div class="addtocart">
             <button class="add-toCart">
              <i class='bx bxs-plus-circle'></i>
             </button>
            </div>
           </div>
        </div>
      
  
        <!--third-->
    
      
        <div class="row">
          <img src="{{ url_for ('static', filename='image_food/breakfast2.jpeg')}}">
          <div class="menuText">
            <div class="menuLeft">
              <h3 class="p-name">Wanpaku sandwhich</h3>
              
            </div>
            <div class="menuRight">
              <h4 class="p-price">RM 12</h4>
            </div>
          </div>
          <p> Bursting with savory teriyaki chicken, fluffy omelette, crisp lettuce, and creamy mayo, all nestled between soft slices of bread. It's a flavor explosion that will keep you coming back for more!</p>
          <div class="iconwrap">
            <div class="rate">
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star-half' ></i></a>
             <a href="#"><i class='bx bx-star' ></i></a>
            </div>
            <div class="addtocart">
              <button class="add-toCart">
                <i class='bx bxs-plus-circle'></i>
              </button>
            </div>
           </div>
        </div>
      
    </div>   
  </section>
    
  

<section class="lunch" id="lunch">
  <div class="mainText">
    <h2>Best Seller - Lunch menu</h2>
  </div>

  <!--First-->
  <div class="items">
    <div class="row" id="2">
      <img src="{{ url_for ('static', filename='image_food/lunch2.jpeg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Rice & curry prawn</h3>
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 17.50</h4>
        </div>
      </div>
      <p>Fragrant rice paired with succulent prawns simmered in a flavorful curry sauce, offering a delightful fusion of aromatic spices and tender seafood.</p>
        <div class="iconwrap">
            <div class="rate">
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bx-star'></i></a>
            </div>
            <div class="addtocart">
             <button class="add-toCart">
              <i class='bx bxs-plus-circle'></i>
             </button>
            </div>
        </div>
    </div>
  
    <!--second-->
  
    <div class="row" id="3">
      <img src="{{ url_for ('static', filename='image_food/lunch3.jpeg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Garlic bread bits</h3>
          
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 10</h4>
        </div>
      </div>
      <p>Crispy, bite-sized pieces of bread infused with savory garlic flavor, perfect for snacking or adding a delicious crunch to salads and soups.</p>
      <div class="iconwrap">
        <div class="rate">
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star-half' ></i></a>
        </div>
        <div class="addtocart">
         <button class="add-toCart">
          <i class='bx bxs-plus-circle'></i>
         </button>
        </div>
       </div>
    </div>
  

    <!--third-->

  
    <div class="row">
      <img src="{{ url_for ('static', filename='image_food/lunch4.jpeg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Honey BBQ Boneless Chicken</h3>
          
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 19</h4>
        </div>
      </div>
      <p> Tender chicken strips glazed with a sweet honey-infused barbecue sauce, creating a mouthwatering blend of savory and sweet flavors that are sure to satisfy your cravings.</p>
      <div class="iconwrap">
        <div class="rate">
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star-half' ></i></a>
         <a href="#"><i class='bx bx-star' ></i></a>
        </div>
        <div class="addtocart">
          <button class="add-toCart">
            <i class='bx bxs-plus-circle'></i>
          </button>
        </div>
       </div>
    </div>
  
</div>   
</section>

<section class="dinner" id="dinner">
<div class="mainText">
  <h2>Best Seller - Dinner menu</h2>
</div>

  <!--first-->
<div class="items">
  <div class="row">
    <img src="{{ url_for ('static', filename='image_food/dinner1.jpeg')}}">
    <div class="menuText">
      <div class="menuLeft">
        <h3 class="p-name">Garlic Butter Steak & Potatoes skillet</h3>
      </div>
      <div class="menuRight">
        <h4 class="p-price">RM 20</h4>
      </div>
    </div>
    <p>A sizzling skillet dish featuring succulent steak and tender potatoes cooked to perfection in a rich garlic butter sauce, creating a hearty and flavorful meal </p>
      <div class="iconwrap">
          <div class="rate">
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bx-star'></i></a>
          </div>
          <div class="addtocart">
           <button class="add-toCart">
            <i class='bx bxs-plus-circle'></i>
           </button>
          </div>
      </div>
  </div>
</form>
  <!--second-->

  <div class="row">
    <img src="{{ url_for ('static', filename='image_food/dinner2.jpeg')}}">
    <div class="menuText">
      <div class="menuLeft">
        <h3 class="p-name">Farfalle with Spinach and Caramelized Onions</h3>
      </div>
      <div class="menuRight">
        <h4 class="p-price">RM 19</h4>
      </div>
    </div>
    <p>Delicate bowtie pasta tossed with sautéed spinach, earthy mushrooms, and sweet caramelized onions, creating a comforting and flavorful dish that's both hearty and satisfying.</p>
      <div class="iconwrap">
          <div class="rate">
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bx-star'></i></a>
          </div>
          <div class="addtocart">
           <button class="add-toCart" >
            <i class='bx bxs-plus-circle'></i>
           </button>
          </div>
      </div>
  </div>

  <!--third-->
<form method = "post"> 
  <div class="row">
    <img src="{{ url_for ('static', filename='image_food/dinner3.jpeg')}}">
    <div class="menuText">
      <div class="menuLeft">
        <h3 class="p-name">Herby lemon chicken skewers</h3>
        
      </div>
      <div class="menuRight">
        <h4 class="p-price">RM 12</h4>
      </div>
    </div>
    <p>Juicy chicken pieces marinated in a zesty blend of fresh herbs and tangy lemon juice, threaded onto skewers and grilled to perfection, offering a burst of vibrant flavors in every bite.</p>
    <div class="iconwrap">
      <div class="rate">
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star-half' ></i></a>
      </div>
      <div class="addtocart">
       <button class="add-toCart" >
        <i class='bx bxs-plus-circle'></i>
       </button>
      </div>
     </div>
  </div>
</div>   
</section>

<section class="dessert" id="dessert">
  <div class="mainText">
    <h2>Best Seller - Dessert&Beverages</h2>
  </div>
  
    <!--first-->
  <div class="items">
    <div class="row">
      <img src="{{ url_for ('static', filename='image_food/dessert2.jpg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Soft choco chips cookies</h3>
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 7</h4>
        </div>
      </div>
      <p>Indulge in the sheer delight of our Soft Choco Chip Cookies. Each bite offers a heavenly blend of soft, chocolate-infused goodness. Perfectly sized for a satisfying treat, they promise to elevate any moment with their irresistible taste. Treat yourself to pure indulgence today! </p>
        <div class="iconwrap">
            <div class="rate">
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bx-star'></i></a>
            </div>
            <div class="addtocart">
             <button class="add-toCart">
              <i class='bx bxs-plus-circle'></i>
             </button>
            </div>
        </div>
    </div>
  </form>
    <!--second-->
  
    <div class="row">
      <img src="{{ url_for ('static', filename='image_food/dessert5.jpg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Caramel pudding</h3>
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 7</h4>
        </div>
      </div>
      <p>Satisfy your sweet cravings with our homemade caramel pudding, a single-serving delight that melts in your mouth. With its luscious caramel glaze and creamy vanilla-infused custard, every spoonful is a journey into pure indulgence. Treat yourself to this heavenly treat today!</p>
        <div class="iconwrap">
            <div class="rate">
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bx-star'></i></a>
            </div>
            <div class="addtocart">
             <button class="add-toCart" >
              <i class='bx bxs-plus-circle'></i>
             </button>
            </div>
        </div>
    </div>
  
    <!--third-->
    <div class="row">
      <img src="{{ url_for ('static', filename='image_food/drink1.jpg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Strawberry-ice-ade</h3>
          
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 7.50</h4>
        </div>
      </div>
      <p> Quench your thirst with our Strawberry-Ade! Made with ripe strawberries and a hint of citrus, it's a refreshing burst of summer in every sip. Perfect for any occasion, enjoy the sweet and tangy flavors of sunshine in a glass.</p>
      <div class="iconwrap">
        <div class="rate">
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star-half' ></i></a>
        </div>
        <div class="addtocart">
         <button class="add-toCart" >
          <i class='bx bxs-plus-circle'></i>
         </button>
        </div>
       </div>
    </div>
    
  <!--FOURTH-->
  <div class="row">
    <img src="{{ url_for ('static', filename='image_food/drink4.jpg')}}">
    <div class="menuText">
      <div class="menuLeft">
        <h3 class="p-name">Ice water</h3>
        
      </div>
      <div class="menuRight">
        <h4 class="p-price">RM 3</h4>
      </div>
    </div>
    <p>Stay hydrated with the pure simplicity of our ice-cold water. Crisp, refreshing, and oh-so-satisfying, it's the perfect way to quench your thirst and invigorate your senses. Just pure, clean hydration, served ice-cold and ready to refresh.</p>
    <div class="iconwrap">
      <div class="rate">
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star'></i></a>
       <a href="#"><i class='bx bxs-star-half' ></i></a>
      </div>
      <div class="addtocart">
       <button class="add-toCart" >
        <i class='bx bxs-plus-circle'></i>
       </button>
      </div>
     </div>
  </div>
</div>   
</div> 
  </section>
 

    <section class="allfood" id="all">
        <h2>All food</h2>
        <h3>Food meal - Desserts - Beverages</h3>
        <div class="card--list">
        {% for product in products %}
        <form action="/add_to_cart" method="post">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <div class="card--list">
          <div class="card">
            <img src="{{ url_for('static', filename=product.image_path) }}" >
            <h4 class="card--title">{{ product.name }}</h4>
            <div class="card--price">
              <div class="price">RM{{ product.price }}0</div>
              <input type="number" name="quantity" value="1" min="1">
              <button type="submit"><i class='bx bxs-cart-add' ></i></button>
            </div>
          </div>
        </div>
        </form>
        {% endfor %}
      </div>
    </section>

    <!--contact-->
 
<section class="contact" id="contact">
  <hr>
  <div class="main-contact">
    <div class="contact-content1">
      <h4><i class='bx bx-copyright'>Railwayfood Malaysia</i></h4>
      <p>Delivery Hero Malaysia Sdn Bhd</p>
      <p>202304159806 (987654-W)</p>
      <p>12th Floor, Wisma Foo,</p>
      <p>Jalan Raja Chulan,</p>
      <p>50200 Kuala Lumpur,</p>
      <p>Malaysia.</p>
    </div>
    <div class="contact-content">
      <h4>Services</h4>
      <p><a href="#">Press</a></p>
      <p><a href="#">Privacy policy</a></p>
      <p><a href="#">RailwayGo</a></p>
      <p><a href="#">Railwayfood magazine</a></p>
      <p><a href="#">Ramdan</a></p>
    </div>
    <div class="contact-content">
      <h4>Partner</h4>
      <p><a href="#">Partner with us</a></p>
      <p><a href="#">Foodpanda</a></p>
      <p><a href="#">Foodie</a></p>
      <p><a href="#">Shoppee foood</a></p>
      <p><a href="#">Bekal</a></p>
    </div>
    <div class="contact-content">
      <h4>Contact</h4>
      <p><a href="#">Contact us</a></p>
      <p><a href="#">Facebook</a></p>
      <p><a href="#">Instagram</a></p>
      <p><a href="#">Pinterest</a></p>
    </div>
  </div>
  <hr>
  <div class="logobtm">
    <a href="/main" class="main">Railway<span>Food</span></a>
    <div class="logo-btm">
      <a href="#" class="fcb"><i class='bx bxl-facebook-circle'></i></a>
    </div>
    <div class="logo-btm">
      <a href="#" class="ins"><i class='bx bxl-instagram-alt' ></i></a>
    </div>
    <div class="logo-btm">
      <a href="#" class="twt"><i class='bx bxl-twitter' ></i></a>
    </div>
  </div>
 
  </div>
</section>

<script>
  var cartCountSpan = document.getElementById("cartCount");
  var addToCartButtons = document.querySelectorAll('.card--price button[type="submit"]');
    addToCartButtons.forEach(function(button) {
        button.addEventListener("click", function() {
           
            var currentCount = parseInt(cartCountSpan.textContent);
            cartCountSpan.textContent = currentCount + 1;
        });
    });
  
</script>


    <script src="{{url_for('static', filename='script_food.js')}}"></script>
</body>
</html>