<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_summary.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Order Summary</title>
</head>

    <header>
            <a href="/main" class="main">Railway<span>Food</span></a>
    
            <ul class="navlist">
                <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
             </ul>
    
    </header>

<body>
        <section class="summary">
            <h1>Order Summary</h1>
            <h2>Order Details for {{ user.username }}</h2>
            <p>Email: {{ user.email }}</p>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}0</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price * item.quantity }}0</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total:</td>
                        <td>RM {{ total_price }}0</td>
                    </tr>
                </tfoot>
            </table>
        </section>

        <section class="pay">
            <button>Online Banking</button>
            <button>Debit/Credit Card</button>
            <button>Checkout</button>
        </section>
    
    <script src="{{url_for('static', filename='script_food.js')}}"></script>
</body>
</html>
