




@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
body {
    body {
        font-family: 'Rubik', sans-serif;
    }
}

:root {
    --text-color: #82A284;
    --logo-color: #E4AEC5;
    --main-color: #FFC4DD; 
  
}

nav{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    min-height: 11vh;
    background-color: whitesmoke;
    
    
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 3px;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    color: var(--logo-color); 
    font-weight: 450;
}
.logo .railway {
    color: #82A284;
}

.logo .go {
    color: var(--logo-color); 
}




.nav-links{
    display: flex;
    background-color:whitesmoke ;
    justify-content: space-around;
    width: 25%;
   


}


.nav-links a{
 color:#82a284  ;
 text-decoration: none;
 letter-spacing: 3px;
 font-weight: bold;
 font-size: 14px;
 font-family: 'Rubik', sans-serif;
 
}
.nav-links li {
    list-style: none;
}
.navline {
    display: none;
    cursor: pointer;
}


.navline div{
    width: 25px;
    height: 3px;
    background-color: #82a284;
    margin: 4px;


}


@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
       
    }
   
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
   .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 11vh;
    background-color:whitesmoke ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
   }
    .nav-links li{
        opacity: 0;
    }
    .navline{
        display: block;
    }
}
.nav-active {
    transform: translateX(0%);
}
 @keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);


    }
 }
 





 .form-container{
    
        display: flex;
        justify-content: center; /* Horizontally center the child elements */
        align-items: center; /* Vertically center the child elements */
        min-height: 100vh; /* Ensure the container takes up the full viewport height */
        padding: 20px;
        background: white;
        border-radius: 5px;
    
    
 }
 
 .form-container form {
    padding: 30px;
    margin: 20px 0;
    background:#82a284 ;
    text-align: center;
    border-radius: 20px;
   width: 400px;
    box-shadow: 0 3px 5px 2px rgb(150, 150,150,0.2);


 }
 .form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:white;
    font-family: 'Rubik', sans-serif;
    

 }
 .form-container form input,
 .form-container form select
 {
    width: 100%;
    padding:10px 15px;
    font-size: 17px;
    margin:8px 0;
    background:#D3D3D3;
    border-radius: 6px;
    border: 1px solid #E4AEC5;
    outline: 1px solid var(#fbd0d9);
    font-family: 'Rubik', sans-serif;
    
}

 
 .form-container form select option{
    background: white;
 }
 .form-container form .form-btn{
    background: #fbd0d9;
    color:white;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
 
 }
 .form-container form .form-btn:hover{
    background: #E4AEC5;
    color: white;
    border: none;
 }
 .form-container form p{
    margin-top: 10px;
    font-size: 10px;
    color:white;
    font-family: 'Rubik', sans-serif;
 }
 
 .logo h4 a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    font-weight: 500;
}
 .main-wrapper{
  width:400px;
  height: 680px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

}
.branding{
  text-align: center;
  
  

}
.slogan{
    font-size: 2.5rem;
    font-weight: lighter;
    color: #82a284;
    font-family: 'Rubik', sans-serif;
}
.logo2 {
    color: #E4AEC5;  
    text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3.7rem;
  font-family: 'Rubik', sans-serif;
  
  margin:20px 0;
}
@media (min-width:890px) {
 .main-wrapper{
    width: 90%;
    max-width: 980px;
    flex-direction: row;
    padding-top: 70px;
    justify-content: space-between;
 }
}
.branding{
    text-align: left;
    padding-top: 260px;
    width:480px;
}
.slogan{
    font-size: 1.7rem;
    font-family: 'Rubik', sans-serif;
}
.flash-message{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}


.flash-message {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.error {
    background-color: #ffcccc;
    color: #cc0000;
}

.success {
    background-color: #82a284;
    color: white;
}

.header_container{
    padding: 16px 16px 30px 16px ;

}

.header_container{
    padding: 16px 16px 30px 16px;
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.header_image_container{
    width: 50%; 
    height: 50%; 
    position: absolute; 
    overflow: hidden;
    top: 20%;
    right: 0;
    border-radius: 2rem;
}

.header_image_container img {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    
    
  }




.header_content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: #E4AEC5;
    font-family: 'Rubik', sans-serif;

}

.header_content p {
    color: var(--extra-light);
    color: #82a284;
    font-size: 1.5rem;

}
.header_content {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    text-align: left;
}

.book_button button {
    background-color:#E4AEC5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.book_button button:hover {
    background-color: #fbd0d9;
}



/*contact*/

.main-contact {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.contact-content p {
    line-height: 35px;
 
}

.contact-content1 p {
    top: 10px;
    line-height: 20px;
 
}

.logobtm {
    display: grid;
    grid-template-columns: repeat(4,auto);
}

.logobtm i {
    font-size: 30px;
    margin-top: 40px;
}

.logobtm .fcb i {
    color:#1877F2;
}

.logobtm .ins i {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}
.logobtm .twt i {
    color: #1DA1F2;

}


hr {
    border: none;
    border-top: 2px solid;
    margin: 10px auto;
    color: #DDDDDD;
    width: 100%;
    align-items: center;
}
.main {
    display: flex;
    align-items: center;
    margin: 50px;
    color: var(--text-color);
    font-size: 35px;
    
}

.main span {
    color: var(--logo-color)
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#FFC4DD; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #FFC4DD; 
  }
  
  .bx {
    vertical-align: middle;
    margin-left: 5px; 
  }

  
  .ets_ktm_box {
    max-width: 968px; 
    margin: 0 auto; 
}
.ets_ktm_box h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    color:#FFC4DD;
}


.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.categories-container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px; 
    border: 4px solid  #82a284; ;
}

.categories-container .box img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
}
  
  
  .greyed-out {
    filter: grayscale(100%);
  }
  
  /*  greyed-out effect on hover */
  .transport-image:hover {
    filter: grayscale(100%);
  }
  .trainschedule {
    max-width: 100%; 
    margin: 0 auto; 
    margin-top: 20%;
}

.schedule_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    
    
    
}

.ktm_schedule,
.ets_schedule {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.ktm_schedule img,
.ets_schedule img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%; 
    height:auto;
    object-fit: contain;
    object-position: center;
    
}

.trainschedule h2 {
    color: #FFC4DD;
    font-weight: bold; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    font-size: 35px;
    
}

