* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: 0;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: rgb(175, 41, 63);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
}

body {
    background-color: lightpink;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 17px;
}

ul li a {
    text-decoration: none;
    color: rgb(125, 39, 82);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover {
    color: lemonchiffon;
}

.select {
    padding: 8px 12px;
    margin-left: 50px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 30px;
    margin-top: 50px;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bbbbbb;
}

.switch-btn {
    display: block;
    margin: 20px 0;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.date-picker {
    margin-top: -113px;
    margin-left: 650px;
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 35px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.date-picker:hover {
    background-color: #f3f3f3;
}

.date-picker .selected-date {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 28px;
}

.date-picker .dates {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
}

.date-picker .dates.active {
    display: block;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
    background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
    background-color: #00CA85;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7,  1fr);
    height: 200px;
}

.date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
}

.date-picker .dates .days .day.selected {
    background-color: #00CA85;
}