<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RailwayFood</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
    

    <!--font-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
    
</head>

<body>
  

      <!--header section-->
    <header>
        <a href="#" class="main">Railway<span>Food</span></a>

        <ul class="navlist">
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#review">Our Customer</a></li>
            
         </ul>

         <ul class="icons">
            <li><a href="#cart" ><i class='bx bx-basket'></i></a></li>
            <li><a href="#search" ><i class='bx bx-search-alt-2'></i></a></li>
         </ul>
    </header>
    

      <!--home section-->
    <section class="home" id="home">
        <div class="hometext">
            <h1>From departure<br>to destinations, <br> We got your <br> craving satisfied!</h1>
        </div>

        <div class="homeimg">
            <image src="{{ url_for ('static', filename='image/main.png')}}" width="600" height="auto">
      </div>

      <div class="home1">
        <h2>Arrive hungry,<br>leave happy<br>Pre-order your<br>meals<span> now!</span></h2>
        <a href="#" class="button1"><i class='bx bx-food-menu'></i></a>
        <a href="#" class="button2">Order now</a>
      </div>
    </section>

    <!--container-->
    <section class="container" id="menu">

      <div class="box-wrap">
        <i class='bx bx-left-arrow-alt' id="backbton"></i>
        <div class="box">
         <div>
          <span><a href="#breakfast"><img src="image/breakfast1.jpeg"></a></span>
          <span><a href="#lunch"><img src="image/lunch1.jpeg"></a></span>  
          <span><a href="#dinner"><img src="image/dinner1.jpeg"></a></span>
         </div>
         <div>
          <span><a href="#dessert"><img src="image/dessert.jpeg"></a></span>
          <span><a href="#drinks"><img src="image/drinks.jpeg"></a></span>  
         </div>
        </div>
        <i class='bx bx-right-arrow-alt' id="forwardbton"></i>
    </div>
    </section>

    <!--shop section-->
    <section class="breakfast" id="breakfast">
      <div class="mainText">
        <h2>Breakfast menu</h2>
      </div>
      <div class="content">
        <!--first food-->
        <div class="row">
          <img src="image/breakfast1.jpeg">
          <div class="menuText">
            <div class="menuLeft">
              <h3>Egg&Meat sandwhich</h3>
            </div>
            <div class="menuRight">
              <h4>RM 14</h4>
            </div>
          </div>
          <p>farm-fresh eggs, savory meats, creamy avocado, 
            rich cheese, and crisp greens, all between freshly baked bread. 
            A symphony of flavors and textures in every bite.</p>
          <div class="rate">
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
          </div>
        </div>
        <!--second-->
        <div class="row">
          <img src="image/breakfast2.jpeg">
          <div class="menuText">
            <div class="menuLeft">
              <h3>Wanpaku sandwhich</h3>
            </div>
            <div class="menuRight">
              <h4>RM 20</h4>
            </div>
          </div>
          <p>The Wanpaku Sandwich offers a playful twist with tender meats, 
            zesty sauces, and crunchy veggies. Pair it with our 
            wholesome Cereal Bowl, featuring crunchy cornflakes, fresh milk,
            and a touch of honey. </p>
          <div class="rate">
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bx-star' ></i></a>
          </div>
        <!--third-->
        </div>
        <div class="row">
          <img src="image/breakfast3.jpeg">
          <div class="menuText">
            <div class="menuLeft">
              <h3>Croissant Egg&Meat</h3>
            </div>
            <div class="menuRight">
              <h4>RM 18.50</h4>
            </div>
          </div>
          <p>Croissant Breakfast Sandwich, a delightful blend of buttery croissant, fluffy eggs, savory meats, creamy avocado, and tangy cheese. A delicious twist on a classic favorite.</p>
          <div class="rate">
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star-half' ></i></a>
          </div>
        </div>
        <!--forth-->
        <div class="row">
          <img src="image/breakfast4.jpeg">
          <div class="menuText">
            <div class="menuLeft">
              <h3>Ice cream with berries </h3>
            </div>
            <div class="menuRight">
              <h4>RM 16</h4>
            </div>
          </div>
          <p>Experience our Berry Bliss Bread: soft bread topped with creamy scoops and fresh berries. A heavenly delight in every bite."</p>
          <div class="rate">
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star'></i></a>
            <a href="#"><i class='bx bxs-star-half' ></i></a>
          </div>
        </div>

      </div>
    </section>
     





    </section>



     <script src="{{url_for('static', filename='script.js')}}"></script>
</body>




</html>