<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RailwayFood</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
    

    <!--font-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
    
</head>
<body>

    <!--header section-->
    <header class="header">
        <a href="/home" class="main">Railway<span>Food</span></a>
        <nav class="header--menu">
          <div class="search--box">
            <form action="/search" method="GET">
              <input type="text" name="query" placeholders="Search...">
              <button type="submit"><i class='bx bx-search-alt' ></i></button>
            </form>
          </div>
          <div class="menu--icons">
            <a href="#all"><i class='bx bxs-bowl-rice'></i></a>
            <div class="cart-icon">
              <i class='bx bx-cart'></i>
              <span>0</span>
            </div>
          </div>
        </nav>

    </header>

    <!--container-->
    <section class="container" id="menu">
        <h3>When are your onboarding time?</h3>
        <h4>Morning? Aftternoon? or night?</h4>
        <div class="box-wrap">
          <i class='bx bx-left-arrow-alt' id="backbton"></i>
          <div class="box">
           <div>
            <span><a href="#breakfast"><image src="{{ url_for ('static', filename='image/breakfast1.jpeg')}}"></a></span>
            <span><a href="#lunch"><image src="{{ url_for ('static', filename='image/lunch1.jpeg')}}"></a></span>  
            <span><a href="#dinner"><image src="{{ url_for ('static', filename='image/dinner1.jpeg')}}"></a></span>
           </div>
           <div>
            <span><a href="#dessert"><image src="{{ url_for ('static', filename='image/dessert.jpeg')}}"></a></span>
            <span><a href="#drinks"><image src="{{ url_for ('static', filename='image/drinks.jpeg')}}"></a></span> 
              <span><a href="#snacks"><image src="{{ url_for ('static', filename='image/snack.jpeg')}}"></a></span>  
           </div>
          </div>
          <i class='bx bx-right-arrow-alt' id="forwardbton"></i>
      </div>
      </section>

    
    <!--BEST SELLER-->
      <section class="breakfast" id="breakfast">
        <div class="mainText">
          <h2>Best Seller - Breakfast menu</h2>
        </div>
    
        <!--First-->
        <div class="items">
          <div class="row" id="2">
            <img src="{{ url_for ('static', filename='image/breakfast1.jpeg')}}">
            <div class="menuText">
              <div class="menuLeft">
                <h3 class="p-name">Egg & slice meat sandwhich</h3>
              </div>
              <div class="menuRight">
                <h4 class="p-price">RM 15</h4>
              </div>
            </div>
            <p> A delightful combination of savory slices of meat layered with fluffy scrambled eggs, sandwiched between two slices of fresh bread for a satisfying meal on-the-go.</p>
              <div class="iconwrap">
                  <div class="rate">
                   <a href="#"><i class='bx bxs-star'></i></a>
                   <a href="#"><i class='bx bxs-star'></i></a>
                   <a href="#"><i class='bx bxs-star'></i></a>
                   <a href="#"><i class='bx bxs-star'></i></a>
                   <a href="#"><i class='bx bx-star'></i></a>
                  </div>
                  <div class="addtocart">
                   <button class="add-toCart">
                    <i class='bx bxs-plus-circle'></i>
                   </button>
                  </div>
              </div>
          </div>
        
          <!--second-->
        
          <div class="row" id="3">
            <img src="{{ url_for ('static', filename='image/breakfast4.jpeg')}}">
            <div class="menuText">
              <div class="menuLeft">
                <h3 class="p-name">Ice cream toast Berries</h3>
                
              </div>
              <div class="menuRight">
                <h4 class="p-price">RM 11</h4>
              </div>
            </div>
            <p>Indulge in a delightful treat featuring creamy ice cream nestled on crispy toast, topped with a burst of freshness from assorted berries, creating a perfect balance of flavors and textures.</p>
            <div class="iconwrap">
              <div class="rate">
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star-half' ></i></a>
              </div>
              <div class="addtocart">
               <button class="add-toCart">
                <i class='bx bxs-plus-circle'></i>
               </button>
              </div>
             </div>
          </div>
        
    
          <!--third-->
      
        
          <div class="row">
            <img src="{{ url_for ('static', filename='image/breakfast2.jpeg')}}">
            <div class="menuText">
              <div class="menuLeft">
                <h3 class="p-name">Wanpaku sandwhich</h3>
                
              </div>
              <div class="menuRight">
                <h4 class="p-price">RM 12</h4>
              </div>
            </div>
            <p> Bursting with savory teriyaki chicken, fluffy omelette, crisp lettuce, and creamy mayo, all nestled between soft slices of bread. It's a flavor explosion that will keep you coming back for more!</p>
            <div class="iconwrap">
              <div class="rate">
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star-half' ></i></a>
               <a href="#"><i class='bx bx-star' ></i></a>
              </div>
              <div class="addtocart">
                <button class="add-toCart">
                  <i class='bx bxs-plus-circle'></i>
                </button>
              </div>
             </div>
          </div>
        
      </div>   
    </section>
      
    

  <section class="lunch" id="lunch">
    <div class="mainText">
      <h2>Best Seller - Lunch menu</h2>
    </div>

    <!--First-->
    <div class="items">
      <div class="row" id="2">
        <img src="{{ url_for ('static', filename='image/lunch2.jpeg')}}">
        <div class="menuText">
          <div class="menuLeft">
            <h3 class="p-name">Rice & curry prawn</h3>
          </div>
          <div class="menuRight">
            <h4 class="p-price">RM 17.50</h4>
          </div>
        </div>
        <p>Fragrant rice paired with succulent prawns simmered in a flavorful curry sauce, offering a delightful fusion of aromatic spices and tender seafood.</p>
          <div class="iconwrap">
              <div class="rate">
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bxs-star'></i></a>
               <a href="#"><i class='bx bx-star'></i></a>
              </div>
              <div class="addtocart">
               <button class="add-toCart">
                <i class='bx bxs-plus-circle'></i>
               </button>
              </div>
          </div>
      </div>
    
      <!--second-->
    
      <div class="row" id="3">
        <img src="{{ url_for ('static', filename='image/lunch3.jpeg')}}">
        <div class="menuText">
          <div class="menuLeft">
            <h3 class="p-name">Garlic bread bits</h3>
            
          </div>
          <div class="menuRight">
            <h4 class="p-price">RM 10</h4>
          </div>
        </div>
        <p>Crispy, bite-sized pieces of bread infused with savory garlic flavor, perfect for snacking or adding a delicious crunch to salads and soups.</p>
        <div class="iconwrap">
          <div class="rate">
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star-half' ></i></a>
          </div>
          <div class="addtocart">
           <button class="add-toCart">
            <i class='bx bxs-plus-circle'></i>
           </button>
          </div>
         </div>
      </div>
    

      <!--third-->
  
    
      <div class="row">
        <img src="{{ url_for ('static', filename='image/lunch4.jpeg')}}">
        <div class="menuText">
          <div class="menuLeft">
            <h3 class="p-name">Honey BBQ Boneless Chicken</h3>
            
          </div>
          <div class="menuRight">
            <h4 class="p-price">RM 19</h4>
          </div>
        </div>
        <p> Tender chicken strips glazed with a sweet honey-infused barbecue sauce, creating a mouthwatering blend of savory and sweet flavors that are sure to satisfy your cravings.</p>
        <div class="iconwrap">
          <div class="rate">
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star'></i></a>
           <a href="#"><i class='bx bxs-star-half' ></i></a>
           <a href="#"><i class='bx bx-star' ></i></a>
          </div>
          <div class="addtocart">
            <button class="add-toCart">
              <i class='bx bxs-plus-circle'></i>
            </button>
          </div>
         </div>
      </div>
    
  </div>   
</section>

<section class="dinner" id="dinner">
  <div class="mainText">
    <h2>Best Seller - Dinner menu</h2>
  </div>

    <!--first-->
  <div class="items">
    <div class="row">
      <img src="{{ url_for ('static', filename='image/dinner1.jpeg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Garlic Butter Steak & Potatoes skillet</h3>
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 20</h4>
        </div>
      </div>
      <p>A sizzling skillet dish featuring succulent steak and tender potatoes cooked to perfection in a rich garlic butter sauce, creating a hearty and flavorful meal </p>
        <div class="iconwrap">
            <div class="rate">
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bx-star'></i></a>
            </div>
            <div class="addtocart">
             <button class="add-toCart">
              <i class='bx bxs-plus-circle'></i>
             </button>
            </div>
        </div>
    </div>
  </form>
    <!--second-->
  
    <div class="row">
      <img src="{{ url_for ('static', filename='image/dinner2.jpeg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Farfalle with Spinach, Mushrooms, Caramelized Onions</h3>
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 19</h4>
        </div>
      </div>
      <p>Delicate bowtie pasta tossed with sautéed spinach, earthy mushrooms, and sweet caramelized onions, creating a comforting and flavorful dish that's both hearty and satisfying.</p>
        <div class="iconwrap">
            <div class="rate">
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bxs-star'></i></a>
             <a href="#"><i class='bx bx-star'></i></a>
            </div>
            <div class="addtocart">
             <button class="add-toCart" >
              <i class='bx bxs-plus-circle'></i>
             </button>
            </div>
        </div>
    </div>
 
    <!--third-->
  <form method = "post"> 
    <div class="row">
      <img src="{{ url_for ('static', filename='image/dinner3.jpeg')}}">
      <div class="menuText">
        <div class="menuLeft">
          <h3 class="p-name">Herby lemon chicken skewers</h3>
          
        </div>
        <div class="menuRight">
          <h4 class="p-price">RM 12</h4>
        </div>
      </div>
      <p>Juicy chicken pieces marinated in a zesty blend of fresh herbs and tangy lemon juice, threaded onto skewers and grilled to perfection, offering a burst of vibrant flavors in every bite.</p>
      <div class="iconwrap">
        <div class="rate">
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star'></i></a>
         <a href="#"><i class='bx bxs-star-half' ></i></a>
        </div>
        <div class="addtocart">
         <button class="add-toCart" >
          <i class='bx bxs-plus-circle'></i>
         </button>
        </div>
       </div>
    </div>


  
    
 
</div>   
</section>


<!--ALL FOOD-->
<section class="allfood" id="all">
  <h2 class="section--heading">Food Meal</h2>
  <div class="card--list">

    <div class="card">
      <img src="{{ url_for ('static', filename='image/breakfast1.jpeg')}}">
      <h4 class="card--title">Egg & slice meat sandwhich</h4>
      <div class="card--price">
        <div class="price">RM 15</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/breakfast2.jpeg')}}">
      <h4 class="card--title">Wanpaku sandwhich</h4>
      <div class="card--price">
        <div class="price">RM 12</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/breakfast3.jpeg')}}">
      <h4 class="card--title">Croissant Egg&Meat</h4>
      <div class="card--price">
        <div class="price">RM 16</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/breakfast4.jpeg')}}">
      <h4 class="card--title">Ice cream toast Berries</h4>
      <div class="card--price">
        <div class="price">RM 11</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/lunch1.jpeg')}}">
      <h4 class="card--title">Shrimp alfredo</h4>
      <div class="card--price">
        <div class="price">RM 11</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/lunch2.jpeg')}}">
      <h4 class="card--title">Rice & curry prawn</h4>
      <div class="card--price">
        <div class="price">RM 17.50</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/lunch3.jpeg')}}">
      <h4 class="card--title">Garlic bread bits</h4>
      <div class="card--price">
        <div class="price">RM 10</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/lunch4.jpeg')}}">
      <h4 class="card--title">Honey BBQ Boneless Chicken</h4>
      <div class="card--price">
        <div class="price">RM 19</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/dinner1.jpeg')}}">
      <h4 class="card--title">Garlic Butter Steak & Potatoes skillet</h4>
      <div class="card--price">
        <div class="price">RM 20</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dinner2.jpeg')}}">
      <h4 class="card--title">Farfalle with Spinach, Mushrooms, Caramelized Onions</h4>
      <div class="card--price">
        <div class="price">RM 18.50</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dinner3.jpeg')}}">
      <h4 class="card--title">Herby lemon chicken skewers</h4>
      <div class="card--price">
        <div class="price">RM 12</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dinner4.jpeg')}}">
      <h4 class="card--title">Futomaki Fat sushi with veggies</h4>
      <div class="card--price">
        <div class="price">RM 13</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>
  </div>
</section>

<!--DESSERT -->
<section class="allfood" id="dessert">
  <h2 class="section--heading">Dessert & Beverages</h2>
  <div class="card--list">

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dessert.jpeg')}}">
      <h4 class="card--title">Blueberries cheesecake</h4>
      <div class="card--price">
        <div class="price">RM 6</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dessert1.jpg')}}">
      <h4 class="card--title">Churros with choc dip</h4>
      <div class="card--price">
        <div class="price">RM 10</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dessert2.jpg')}}">
      <h4 class="card--title">Soft Choco chip cookies</h4>
      <div class="card--price">
        <div class="price">RM 7</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dessert4.jpg')}}">
      <h4 class="card--title">Double choc brownies</h4>
      <div class="card--price">
        <div class="price">RM 9</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/dessert5.jpg')}}">
      <h4 class="card--title">Caramel pudding</h4>
      <div class="card--price">
        <div class="price">RM 10</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    <div class="card">
      <img src="{{ url_for ('static', filename='image/drinks1.jpg')}}">
      <h4 class="card--title">Hazelnut Latte</h4>
      <div class="card--price">
        <div class="price">RM 7</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/drink2.jpg')}}">
      <h4 class="card--title">Sparkling lemonade mango</h4>
      <div class="card--price">
        <div class="price">RM 8.50</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/drink3.jpg')}}">
      <h4 class="card--title">Sparkling peach soda</h4>
      <div class="card--price">
        <div class="price">RM 8.50</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/drink1.jpg')}}">
      <h4 class="card--title">Strawberry-ade </h4>
      <div class="card--price">
        <div class="price">RM 7.50</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>

    
    <div class="card">
      <img src="{{ url_for ('static', filename='image/drink4.jpg')}}">
      <h4 class="card--title">Ice water</h4>
      <div class="card--price">
        <div class="price">RM 4</div>
        <i class='bx bxs-cart-add' ></i>
      </div>
    </div>
  </div>
</section>

<!--contact-->
 
<section class="contact">
  <hr>
  <div class="main-contact">
    <div class="contact-content1">
      <h4><i class='bx bx-copyright'>Railwayfood Malaysia</i></h4>
      <p>Delivery Hero Malaysia Sdn Bhd</p>
      <p>202304159806 (987654-W)</p>
      <p>12th Floor, Wisma Foo,</p>
      <p>Jalan Raja Chulan,</p>
      <p>50200 Kuala Lumpur,</p>
      <p>Malaysia.</p>
    </div>
    <div class="contact-content">
      <h4>Services</h4>
      <p><a href="#">Press</a></p>
      <p><a href="#">Privacy policy</a></p>
      <p><a href="#">RailwayGo</a></p>
      <p><a href="#">Railwayfood magazine</a></p>
      <p><a href="#">Ramdan</a></p>
    </div>
    <div class="contact-content">
      <h4>Partner</h4>
      <p><a href="#">Partner with us</a></p>
      <p><a href="#">Foodpanda</a></p>
      <p><a href="#">Foodie</a></p>
      <p><a href="#">Shoppee foood</a></p>
      <p><a href="#">Bekal</a></p>
    </div>
    <div class="contact-content">
      <h4>Contact</h4>
      <p><a href="#">Contact us</a></p>
      <p><a href="#">Facebook</a></p>
      <p><a href="#">Instagram</a></p>
      <p><a href="#">Pinterest</a></p>
    </div>
  </div>
  <hr>
  <div class="logobtm">
    <a href="/main" class="main">Railway<span>Food</span></a>
    <div class="logo-btm">
      <a href="#" class="fcb"><i class='bx bxl-facebook-circle'></i></a>
    </div>
    <div class="logo-btm">
      <a href="#" class="ins"><i class='bx bxl-instagram-alt' ></i></a>
    </div>
    <div class="logo-btm">
      <a href="#" class="twt"><i class='bx bxl-twitter' ></i></a>
    </div>
  </div>
 
  </div>
</section>



<!--cart container-->
<div class="sidebar" id="sidebar">
  <div class="sidebar-close">
    <i class='bx bx-x'></i>
  </div>  
    <div class="cart-menu">
      <h3>My cart</h3>
      <div class="cart-tems">test 1</div>
    </div>

    <div class="sidebar--footer">
      <div class="total--amount">
        <h5>Total</h5>
        <div class="cart-total">RM 0.00</div>
      </div>
      <button class="checkout-btn">Checkout</button>
    </div>
</div>


  <script src="{{url_for('static', filename='cart.js')}}"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>