*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  
  :root {
      --text-color: #82A284;
      --logo-color: #E4AEC5;
      --main-color: #FFC4DD; 
    
  }
  
  /*will put body background here*/
  
  header {
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      padding: 20px 150px;
      transition: all .50s ease;
  }
  
  
  
  .main {
      display: flex;
      align-items: center;
      margin: 50px;
      color: var(--text-color);
      font-size: 35px;
      
  }
  
  .main span {
      color: var(--logo-color)
  }
  
  .navlist {
      display: flex;
      
  }
  
  .navlist a {
      margin: 0 30px;
      transition: all .50s ease;
      font-weight: 600;
      color: black;
      
  }
  
  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  
  .navlist a:hover{
      color: var(--text-color);
      transform: scale(1.1);
      
  }
  
  
  .icons{
      display: flex;
      size: 50px;
      align-items: center;
      padding: 6px 5px;
      background: var(--main-color);
      border-radius: 2rem;
      box-shadow: black 0px 1px 5px;
  }
  
  .icons i {
      vertical-align: middle;
      color:black;
      margin-right: 6px;
      margin-left: 7px;
      transition: all 0.50s ease;
      font-size: 20px;
  
  }
  
  .icons i:hover {
      transform: scale(1.1);
      color: var(--text-color);
  }
  
             /* HOME */
  
  section {
      padding: 150px 14% 60px;
  
  }
  
  .home {
      position: relative;
      height: 100vh;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 4rem;
     
     
  }
  
  .home1 h2 {
      padding-bottom: 30px;
  }
  
  .home1 span {
      color: var(--text-color);
      font-family: "Finger Paint", sans-serif;
  }
  
  .home1 a {
      color: white;
      font-weight: 550;
  }

  
  .button1 {
      padding: 10px 15px;
      background-color: var(--main-color);
      border-radius: 1rem;
      transition: all 0.50s ease;
      box-shadow: black 0px 1px 5px;
  }
  
  .button1:hover {
      background-color: var(--text-color) ;
  }
  
  header.sticky {
      padding: 12px 10px;
      background: #FFFF;
      box-shadow: black 0.1rem;
  }


  /*help section*/

.help h2 {
    text-align: center;
}


.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container1 .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 260px;
    height: 350px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.container1 .card:hover {
    height: 300px;
}

.container1 .card .imgbox {
    position: absolute;
    top: 20px;
    width: 200px;
    height: 215px; 
    border-radius: 12px;
    overflow:hidden;
    transition: 0.5s;

}


.container1 .card:hover .imgbox {
    top:-100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}

.imgbox .img_1 {
    width: 100%;
    height: auto;
    
}

.imgbox .img_2 {
    width: 212px;
    height: auto;
}

.container1 .card .content {
    position: absolute;
    top: 242px;
    width: 100%;
    padding: 0 30px;
    height: 25px;
    overflow: hidden;
    text-align: center; 
    transition: 0.5s;
}

.container1 .card:hover .content {
    height: 200px;
    top: 140px;

}
.container1 .card:hover .content h3 {
    
    font-weight: 700;
    color: var(--logo-color) 
}

.container1 .card:hover .content p {
    font-size: 1em;
   
}

.container1 .card:hover .content a {
    position: relative;
    top: 8px;
    display: inline-block;
    padding: 12px 15px;
    background: var(--main-color);
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 1rem;
}

.container1 .card:hover .content a:hover {
    background-color: #82A284;
    
}

/*review*/
.middle-text {
    line-height: 50px;
}
.middle-text h4{
    text-align: center;
    color: var(--text-color);
    font-size: 20px;


}
.middle-text h2 {
    text-align: center;

}
.review-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;

}

.bx-img img {
    width: 80px;
    height: auto;
}

.box1 {
    padding: 35px;
    background:white;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
}

.box1 p {
    line-height: 30px;
    margin-bottom: 1.5rem;

}

.in-box {
    display: flex;
    align-items: center;
    gap: 30px;

}

.b0x-text h4{
    margin: 5rem 0;
    font-size: 18px;

}
.box-text h5 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.rating i{
    color: #A91D3A;
    font-size: 18px; 
    margin-right: 5px;

}



  /*container*/
 .container {
    margin-top: 50px;
 }
  .container h3 {
    text-align: center;
  }
  
  .container h4{
    text-align: center;
  }

  .box {
      width: 900px;
      display: flex;
      overflow-x:scroll;
  }
  
  .box div {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
      padding: 10px;
      flex: none;
     
  
  }
  
  .box div img {
      width: 100%;
      filter: grayscale(100%);
      transition: transform 0.5s;
     
  }
  
  
  .box img {
      border-radius: 2rem;
  }
  
  .box::-webkit-scrollbar{
      display: none;
  }
  
  .box-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10% auto;
  }
  
  #backbton, #forwardbton {
      width: 50px;
      cursor: pointer;
      margin: 40px;
      font-size: 40px;
      padding-bottom: 100px;
  }
  
  .box div img:hover {
      filter: grayscale(0);
      cursor: pointer;
      transform: scale(1.1);
  
  }
  
  /*shop section*/
  
  .items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
      gap: 2rem;
      align-items: center;
      margin-top: 4rem;
      cursor: pointer;
  }
  
  .row img {
      width: 100%;
      height: auto;
      border-radius: 10px;
  
  }
  
  .row {
      transition: all .35s ease;
  }
  
  .menuText{
      display: flex;
      align-items: center;
      justify-content: space-betweeen;
      padding: 15px 0;
  }
  
  .menuLeft h3{
      font-size: 20px;
      padding-right: 80px;
  }
  
  .menuRight h4{
      font-size: 15px;
      color: red;
      text-align: right;
  
  }
  
  .row p {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 10px;
  }
  
  .rate i {
      color: gold;
      font-size: 15px;
      margin-right: 4px;
      padding-top: 10px;
  
  }
  
  .row:hover {
      transform: scale(0.9);
  
  }

  .addtocart {
    padding-left: 200px;
  }

  .add-to-cart i{
    background-color: maroon;
    border: none;
    color:white;
    font-size: 25px;
    
  }

  .iconwrap {
    display: flex;
  }
 
  /* cart table*/

  table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    margin-top: 4em;
    

  }

  td, th {
    border: 1px black solid;

  }