<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RailwayTicket</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">RailwayTicket</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="ets.html">ETS/INTERCITY</a></li>
                <li><a href="komuter.html">KOMUTER</a></li>
                <li><a href="shuttle.html">SHUTTLE TEBRAU</a></li>
            </ul>
        </div>
    </div>

    <select id="origin" class="select">
        <option disabled selected>Select origin</option>

        <optgroup label="Kedah">
            <option value="alor setar">ALOR SETAR</option>
            <option value="anak bukit">ANAK BUKIT</option>
            <option value="gurun">GURUN</option>
            <option value="sungai petani">SUNGAI PETANI</option>
        </optgroup>

        <optgroup label="Perlis">
            <option value="arau">ARAU</option>
            <option value="padang besar">PADANG BESAR</option>
        </optgroup>
        
        <optgroup label="Pahang">
            <option value="aur gading">AUR GADING</option>
            <option value="bukit betong">BUKIT BETONG</option>
            <option value="chegar perah">CHEGAR PERAH</option>
            <option value="jenderak">JENDERAK</option>
            <option value="jerantut">JERANTUT</option>
            <option value="kemayan">KEMAYAN</option>
            <option value="kg berkam">KG BERKAM</option>
            <option value="krambit">KRAMBIT</option>
            <option value="kuala krau">KUALA KRAU</option>
            <option value="kuala lipis">KUALA LIPIS</option>
            <option value="mela">MELA</option>
            <option value="mengkarak">MENGKARAK</option>
            <option value="mentakab">MENTAKAB</option>
            <option value="mentara baru">MENTARA BARU</option>
            <option value="merapoh">MERAPOH</option>
            <option value="padang tungku">PADANG TUNGKU</option>
            <option value="sungai temau">SUNGAI TEMAU</option>
            <option value="teluk gunung">TELUK GUNUNG</option>
            <option value="triang">TRIANG</option>
        </optgroup>

        <optgroup  label="Perak">
            <option value="bangan serai">BANGAN SERAI</option>
            <option value="batu gajah">BATU GAJAH</option>
            <option value="behrang">BEHRANG</option>
            <option value="ipoh">IPOH</option>
            <option value="kampar">KAMPAR</option>
            <option value="kuala kangsar">KUALA KANGSAR</option>
            <option value="padang rengas">PADANG RENGAS</option>
            <option value="parit buntar">PARIT BUNTAR</option>
            <option value="slim river">SLIM RIVER</option>
            <option value="sungai siput">SUNGAI SIPUT</option>
            <option value="sungkai">SUNGKAI</option>
            <option value="taiping">TAIPING</option>
            <option value="tanjong malim">TANJONG MALIM</option>
            <option value="tapah road">TAPAH ROAD</option>
        </optgroup>

        <optgroup label="Negeri Sembilan">
            <option value="bahau">BAHAU</option>
            <option value="gemas">GEMAS</option>
            <option value="nilai">NILAI</option>
            <option value="seremban">SEREMBAN</option>
        </optgroup>

        <optgroup label="Selangor">
            <option value="batang kali">BATANG KALI</option>
            <option value="kajang">KAJANG</option>
            <option value="kuala kubu bharu">KUALA KUBU BHARU</option>
            <option value="rawang">RAWANG</option>
            <option value="sungai buloh">SUNGAI BULOH</option>
        </optgroup>

        <optgroup label="Melaka">
            <option value="batang  melaka">BATANG MELAKA</option>
            <option value="pulau sebang/tampin">PULAU SEBANG/TAMPIN</option>
        </optgroup>

        <optgroup label="WP Kuala Lumpur">
            <option value="bdr tasek selatan">BDR TASEK SELATAN</option>
            <option value="kepong sentral">KEPONG SENTRAL</option>
            <option value="kl sentral">KL SENTRAL</option>
            <option value="kuala lumpur">KUALA LUMPUR</option>
        </optgroup>

        <optgroup label="Johor">
            <option value="bekok">BEKOK</option>
            <option value="jb sentral">JB SENTRAL</option>
            <option value="kempas baru">KEMPAS BARU</option>
            <option value="kluang">KLUANG</option>
            <option value="kulai">KULAI</option>
            <option value="labis">LABIS</option>
            <option value="layang layang">LAYANG LAYANG</option>
            <option value="paloh">PALOH</option>
            <option value="rengam">RENGNAM</option>
            <option value="segamat">SEGAMAT</option>
        </optgroup>

        <optgroup label="Kelantan">
            <option value="bertam">BERTAM</option>
            <option value="bertam baru">BERTAM BARU</option>
            <option value="bukit abu">BUKIT ABU</option>
            <option value="bukit panau">BUKIT PANAU</option>
            <option value="bunut susu">BUNUT SUSU</option>
            <option value="chicha tinggi">CHICHA TINGGI</option>
            <option value="dabong">DABONG</option>
            <option value="gua musang">GUA MUSANG</option>
            <option value="jerek baru">JEREK BARU</option>
            <option value="kemubu">KEMUBU</option>
            <option value="kg baru bukit abu">KG BARU BUKIT ABU</option>
            <option value="kg kok pasir">KG KOK PASIR</option>
            <option value="kg. sirian">KG. SIRIAN</option>
            <option value="krai">KRAI</option>
            <option value="kuala gris">KUALA GRIS</option>
            <option value="limau kasturi">LIMAU KASTURI</option>
            <option value="manek urai">MANEK URAI</option>
            <option value="pahi">PAHI</option>
            <option value="pan melayan">PAN MELAYAN</option>
            <option value="pasir mas">PASIR MAS</option>
            <option value="sg mengkuang baru">SG MENGKUANG BARU</option>
            <option value="sri bintang">SRI BINTANG</option>
            <option value="sri jaya">SRI JAYA</option>
            <option value="sri mahligai">SRI MAHLIHGAI</option>
            <option value="sungai keladi">SUNGAI KELADI</option>
            <option value="sungai nal">SUNGAI NAL</option>
            <option value="sungai sirian">SUNGAI SIRIAN</option>
            <option value="sungai tasin">SUNGAI TASIN</option>
            <option value="tanah merah">TANAH MERAH</option>
            <option value="temangan">TEMANGAN</option>
            <option value="to uban">TO UBAN</option>
            <option value="tumpat">TUMPAT</option>
            <option value="ulu temiang">ULU TEMIANG</option>
            <option value="wakah bharu">WAKAH BHARU</option>
        </optgroup>

        <optgroup label="Pulau Pinang">
            <option value="bukit meratajam">BUKIT MERTAJAM</option>
            <option value="butterworth">BUTTERWORTH</option>
            <option value="nibong tebal">NIBONG TEBAL</option>
            <option value="tasek gelugor">TASEK GELUGOR</option>
        </optgroup>

        <optgroup label="Thailand">
            <option value="hatyai" >HATYAI</option>
        </optgroup>
    </select>

    <select id="destination" class="select">
        <option disabled selected>Select destination</option>

        <optgroup label="Kedah">
            <option value="alor setar">ALOR SETAR</option>
            <option value="anak bukit">ANAK BUKIT</option>
            <option value="gurun">GURUN</option>
            <option value="sungai petani">SUNGAI PETANI</option>
        </optgroup>

        <optgroup label="Perlis">
            <option value="arau">ARAU</option>
            <option value="padang besar">PADANG BESAR</option>
        </optgroup>
        
        <optgroup label="Pahang">
            <option value="aur gading">AUR GADING</option>
            <option value="bukit betong">BUKIT BETONG</option>
            <option value="chegar perah">CHEGAR PERAH</option>
            <option value="jenderak">JENDERAK</option>
            <option value="jerantut">JERANTUT</option>
            <option value="kemayan">KEMAYAN</option>
            <option value="kg berkam">KG BERKAM</option>
            <option value="krambit">KRAMBIT</option>
            <option value="kuala krau">KUALA KRAU</option>
            <option value="kuala lipis">KUALA LIPIS</option>
            <option value="mela">MELA</option>
            <option value="mengkarak">MENGKARAK</option>
            <option value="mentakab">MENTAKAB</option>
            <option value="mentara baru">MENTARA BARU</option>
            <option value="merapoh">MERAPOH</option>
            <option value="padang tungku">PADANG TUNGKU</option>
            <option value="sungai temau">SUNGAI TEMAU</option>
            <option value="teluk gunung">TELUK GUNUNG</option>
            <option value="triang">TRIANG</option>
        </optgroup>

        <optgroup  label="Perak">
            <option value="bangan serai">BANGAN SERAI</option>
            <option value="batu gajah">BATU GAJAH</option>
            <option value="behrang">BEHRANG</option>
            <option value="ipoh">IPOH</option>
            <option value="kampar">KAMPAR</option>
            <option value="kuala kangsar">KUALA KANGSAR</option>
            <option value="padang rengas">PADANG RENGAS</option>
            <option value="parit buntar">PARIT BUNTAR</option>
            <option value="slim river">SLIM RIVER</option>
            <option value="sungai siput">SUNGAI SIPUT</option>
            <option value="sungkai">SUNGKAI</option>
            <option value="taiping">TAIPING</option>
            <option value="tanjong malim">TANJONG MALIM</option>
            <option value="tapah road">TAPAH ROAD</option>
        </optgroup>

        <optgroup label="Negeri Sembilan">
            <option value="bahau">BAHAU</option>
            <option value="gemas">GEMAS</option>
            <option value="nilai">NILAI</option>
            <option value="seremban">SEREMBAN</option>
        </optgroup>

        <optgroup label="Selangor">
            <option value="batang kali">BATANG KALI</option>
            <option value="kajang">KAJANG</option>
            <option value="kuala kubu bharu">KUALA KUBU BHARU</option>
            <option value="rawang">RAWANG</option>
            <option value="sungai buloh">SUNGAI BULOH</option>
        </optgroup>

        <optgroup label="Melaka">
            <option value="batang  melaka">BATANG MELAKA</option>
            <option value="pulau sebang/tampin">PULAU SEBANG/TAMPIN</option>
        </optgroup>

        <optgroup label="WP Kuala Lumpur">
            <option value="bdr tasek selatan">BDR TASEK SELATAN</option>
            <option value="kepong sentral">KEPONG SENTRAL</option>
            <option value="kl sentral">KL SENTRAL</option>
            <option value="kuala lumpur">KUALA LUMPUR</option>
        </optgroup>

        <optgroup label="Johor">
            <option value="bekok">BEKOK</option>
            <option value="jb sentral">JB SENTRAL</option>
            <option value="kempas baru">KEMPAS BARU</option>
            <option value="kluang">KLUANG</option>
            <option value="kulai">KULAI</option>
            <option value="labis">LABIS</option>
            <option value="layang layang">LAYANG LAYANG</option>
            <option value="paloh">PALOH</option>
            <option value="rengam">RENGNAM</option>
            <option value="segamat">SEGAMAT</option>
        </optgroup>

        <optgroup label="Kelantan">
            <option value="bertam">BERTAM</option>
            <option value="bertam baru">BERTAM BARU</option>
            <option value="bukit abu">BUKIT ABU</option>
            <option value="bukit panau">BUKIT PANAU</option>
            <option value="bunut susu">BUNUT SUSU</option>
            <option value="chicha tinggi">CHICHA TINGGI</option>
            <option value="dabong">DABONG</option>
            <option value="gua musang">GUA MUSANG</option>
            <option value="jerek baru">JEREK BARU</option>
            <option value="kemubu">KEMUBU</option>
            <option value="kg baru bukit abu">KG BARU BUKIT ABU</option>
            <option value="kg kok pasir">KG KOK PASIR</option>
            <option value="kg. sirian">KG. SIRIAN</option>
            <option value="krai">KRAI</option>
            <option value="kuala gris">KUALA GRIS</option>
            <option value="limau kasturi">LIMAU KASTURI</option>
            <option value="manek urai">MANEK URAI</option>
            <option value="pahi">PAHI</option>
            <option value="pan melayan">PAN MELAYAN</option>
            <option value="pasir mas">PASIR MAS</option>
            <option value="sg mengkuang baru">SG MENGKUANG BARU</option>
            <option value="sri bintang">SRI BINTANG</option>
            <option value="sri jaya">SRI JAYA</option>
            <option value="sri mahligai">SRI MAHLIHGAI</option>
            <option value="sungai keladi">SUNGAI KELADI</option>
            <option value="sungai nal">SUNGAI NAL</option>
            <option value="sungai sirian">SUNGAI SIRIAN</option>
            <option value="sungai tasin">SUNGAI TASIN</option>
            <option value="tanah merah">TANAH MERAH</option>
            <option value="temangan">TEMANGAN</option>
            <option value="to uban">TO UBAN</option>
            <option value="tumpat">TUMPAT</option>
            <option value="ulu temiang">ULU TEMIANG</option>
            <option value="wakah bharu">WAKAH BHARU</option>
        </optgroup>

        <optgroup label="Pulau Pinang">
            <option value="bukit meratajam">BUKIT MERTAJAM</option>
            <option value="butterworth">BUTTERWORTH</option>
            <option value="nibong tebal">NIBONG TEBAL</option>
            <option value="tasek gelugor">TASEK GELUGOR</option>
        </optgroup>

        <optgroup label="Thailand">
            <option value="hatyai" >HATYAI</option>
        </optgroup>
        
    </select>

    <script src="../static/script.js"></script>


</body>

</html>