<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RailwayTicket</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">RailwayTicket</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/">ETS/INTERCITY</a></li>
                <li><a href="/komuter">KOMUTER</a></li>
                <li><a href="/ets/train/<int:train_id>">KOMUTER</a></li>
            </ul>
        </div>
    </div>

    <form action="/book" method="post">

        <label for="departure_station">Select Departure Station:</label>
        <select id="departure_station" name="departure_station">
        </select>
        <br><br>
        
        <label for="arrival_station">Select Arrival Station:</label>
        <select id="arrival_station" name="arrival_station">
        </select>
        <br><br>

        <label for="schedule">Select Schedule:</label>
        <select id="schedule" name="schedule">
        </select>
        <br><br>
        
        <label for="class">Select Class:</label>
        <select id="class" name="class">
            <option value="business">Business</option>
            <option value="economy">Economy</option>
        </select>
        <br><br>
        
        <label for="seat">Select Seat:</label>
        <select id="seat" name="seat">
        </select>
        <br><br>

        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>

        <button type="submit">Book Ticket</button>
    </form>


    <script src="../static/script.js"></script>



</body>

</html>