<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RailwayTicket</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">RailwayTicket</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/">ETS/INTERCITY</a></li>
                <li><a href="/book">KOMUTER</a></li>
            </ul>
        </div>
    </div>

    <ul>
        {% for train in trains %}
            <li><a href="../app.py">{{ train['train_number'] }} - {{ train['departure_station'] }} to {{ train['arrival_station'] }}</a></li>
        {% endfor %}
    </ul>


    <script src="../static/script.js"></script>



</body>

</html>