<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RailwayTicket</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">RailwayTicket</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="ets.html">ETS/INTERCITY</a></li>
                <li><a href="komuter.html">KOMUTER</a></li>
            </ul>
        </div>
    </div>

    <h1>{{ train['train_number'] }} - {{ train['departure_station'] }} to {{ train['arrival_station'] }}</h1>
    <p>Departure: {{ train['departure_time'] }}</p>
    <p>Arrival: {{ train['arrival_time'] }}</p>
    <h2>Available Seats</h2>
    <ul>
        {% for seat in seats %}
            <li>
                {{ seat['seat_number'] }} - {{ seat['status'] }}
                {% if seat['status'] == 'available' %}
                    <form action="../app.py" method="post">
                        <input type="hidden" name="train_id" value="{{ train['id'] }}">
                        <input type="hidden" name="seat_number" value="{{ seat['seat_number'] }}">
                        <button type="submit">Book</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</body>

</html>