<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RailwayTicket</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">RailwayTicket</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="ets.html">ETS/INTERCITY</a></li>
                <li><a href="komuter.html">KOMUTER</a></li>
            </ul>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Train Number</th>
                <th>Departure Station</th>
                <th>Arrival Station</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for train in trains %}
            <tr>
                <td>{{ train.train_number }}</td>
                <td>{{ train.departure_station }}</td>
                <td>{{ train.arrival_station }}</td>
                <td>{{ train.departure_time }}</td>
                <td>{{ train.arrival_time }}</td>
                <td><a href="../app.py">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>