<!DOCTYPE html>
<html>

<head>
    <title>RailwayTicket</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">RailwayTicket</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="ets.html">ETS/INTERCITY</a></li>
                    <li><a href="komuter.html">KOMUTER</a></li>
                    <li><a href="shuttle.html">SHUTTLE TEBRAU</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>