<!DOCTYPE html>
<html>

<head>
    <title>RailwayTicket</title>
    <link href="style.css" type="text/css" rel="stylesheet">
</head>

#origin,departure,date,pax,search

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">RailwayTicket</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">ETS/INTERCITY</a></li>
                    <li><a href="#">KOMUTER</a></li>
                    <li><a href="#">SHUTTLE TEBRAU</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>